select,
input[type="text"] {
  font-size: 1.2em;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  width: 220px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

select:focus,
input[type="text"]:focus {
  border-color: #007acc;
  outline: none;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.result {
  font-size: 2em;
  color: #007acc;
  font-weight: bold;
  margin-top: 20px;
}

#symbol {
  font-size: 2em;
  font-weight: bold;
  color: #007acc;
}

.error {
  color: #ff0000cc;
}

@media (max-width: 480px) {
  input[type="text"],
  select {
    width: 70%;
  }
}
